.popUpBg {
    width:100vw;
    height:100vh;
    z-index:9999;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#deleteAccountContent {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 40%;
    right: 50%;
    margin-top: -100px;
    margin-right: -250px;
    background-color: darkred;
    border-radius: 25px;
    text-align: center;
}