@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans Black'), local('AlegreyaSans-Black'), url(http://fonts.gstatic.com/s/alegreyasans/v3/11EDm-lum6tskJMBbdy9aYCNh5m24_Rwu44iZm2191s.ttf) format('truetype');
}
